* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "FantasqueSansMonoRegular";
	font-weight: normal;
	font-size: 14px;
}

/* challenger deep theme */
$foreground:   #cbe3e7;
$background:   #1e1c31;

// black
$color0:       #565575;
$color8:       #100e23;

// red
$color1:       #ff8080;
$color9:       #ff5458;

// green
$color2:       #95ffa4;
$color10:      #62d196;

// yellow
$color3:       #ffe9aa;
$color11:      #ffb378;

// blue
$color4:       #91ddff;
$color12:      #65b2ff;

// magenta
$color5:       #c991e1;
$color13:      #906cff;

// cyan
$color6:       #aaffe4;
$color14:      #63f2f1;

// white
$color7:       #cbe3e7;
$color15:      #a6b3cc;

// debian logo colour
$debian-logo:       #d50032;

#app {
	background: $background;
	color: $color15;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
}

.top-bar {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid $color0;
	color: $color0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search {
	display: flex;
	flex-direction: row;
	border-radius: 0.3rem;
	overflow: hidden;
	padding: 0.5rem;
	border: 1px solid $color0;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	width: 18rem;
}

.text-input, .search-label {
	background: none;
	border: none;
	outline: none;
	height: 1.5rem;
	padding: 0 0.3rem;
}

.text-input {
	color: $color15;
	width: 100%;
}

.text-input::placeholder {
	color: $color13;
}

.search-label {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color0;
}

#main {
	width: 100%;
	max-height: calc(100vh - 80px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pane {
	border-right: 1px solid $color0;
	&:last-of-type {
		border: none;
	}
	display: grid;
	grid-template-rows: 40px 1fr;
	max-height: calc(100vh - 80px);
}

.scroller {
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 6px !important;
	}
	&::-webkit-scrollbar-track {
		background: $color8;
	}
	&::-webkit-scrollbar-thumb {
		background: $color0;
		border-radius: 3px;
	}
}

.label {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: $color0;
}

.group {
	height: 64px;
	display: flex;
	justify-content: flex-start;
	padding: 1rem 2rem;
	align-items: center;
	color: $background;
	border-radius: 0.5rem;
	margin: 1rem;
	opacity: 0.7;
	transition: all 300ms ease-in;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

.purple {
	background: $color13;
}

.blue {
	background: $color12;
}

.green {
	background: $color10;
}

.yellow {
	background: $color3;
}

.orange {
	background: $color11;
}

.red {
	background: $color1;
}

.debian {
	background: $debian-logo;
}
